<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="left-section">
        <img src="/images/logo.jpg" width="300">
    </div>
    <div class="right-section">
        <a href="/oauth2/authorization/naver">
            <img src="/images/login_button.PNG" alt="Login Button" width="400">
        </a>
    </div>
</div>
</body>
</html>